<%= form_with(model: county) do |form| %>
  <% if county.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(county.errors.count, "error") %> prohibited this county from being saved:</h2>

      <ul>
        <% county.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :population, style: "display: block" %>
    <%= form.number_field :population %>
  </div>

  <div>
    <%= form.label :coordinates, style: "display: block" %>
    <%= form.text_field :coordinates %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
