<p style="color: green"><%= notice %></p>

<%= render @county %>


<p>
<strong>Counties:</strong>
<% county.libraries.each do |library| %>
<%= library.name %>
<% end %>
</p>


<div>
  <%= link_to "Edit this county", edit_county_path(@county) %> |
  <%= link_to "Back to counties", counties_path %>

  <%= button_to "Destroy this county", @county, method: :delete %>
</div>

