<div id="<%= dom_id library %>">
  <p>
    <strong>County:</strong>
    <%= library.county %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= library.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= library.address %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= library.telephone %>
  </p>

  <p>
    <strong>County:</strong>
    <%= library.County_id %>
  </p>

 

</div>
